.navbar{
width: 100%;
height: 71px;
margin-left: 150px;
margin-right: 150px;
top: 30px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0px;
}
.menu ul {
   display:flex;
   gap:48px;
   list-style-type:none;
   
}
.menu ul li a{
text-decoration: none;
}
.home{
    font-style:Inter;
    font-weight: 700;
    color:rgb(37, 36, 50);
}
.color1{
    font-weight: 400;
    color:#8987A1
}
.banner{
display: flex;
justify-content:space-between;
width: 1140px;
height: 1186.88px;
margin-left: 150px;
margin-right: 150px;
margin-top: 50px;
background-color: #E95A08;

}

.paragraph{
width: 570px;
height: 299px;
margin: 0px 0px;
}
.image{
width: 570px;
height: 355px;
}
.color2{
    color:#E95A08;
}
.our-plants{
width: 100%;
height: 138px;
text-align: center;
align-items: flex-end;
}

.cards{
    display:grid;
grid-template-columns:repeat(4,1fr);
margin-left: 150px;
margin-right: 150px;
}
.cards1{
width: 270px;
height: 484.94px;
}
.name{
    text-align: center;
    font-weight: 500px;
}
.price{
    color: #111111;
    font-weight: 700px;
    text-align: center;
}
.cart{
 width: 270px;
height: 50px;
background-color: #E95A08;
color:#FFFFFF;
text-align: center;
border: none;

}
.plantslover{
    display:flex;
    width: 1140px;
height: 597px;
left: 70px;
top: 2197px;
align-items: center;
}
.img02{
width: 540px;
height: 597px;
}
.content{
width: 540px;
height: 597px;
top:100px;
}
.latest deals h1{
    text-align: center;

}
.latest{
    text-align: center;
}

.img31{
    background-image: url(assets/deal-ana.png);
    grid-area: img31;
width: 366.22px;
height: 206px;
border-radius:10px;
text-align: center;
background-repeat: no-repeat;
font-weight: 700;
color: #FFFFFF;
}

.img32{
    background-image: url(assets/deal-bloom.png);
    grid-area: img32;
    width: 402px;
height: 268px;
border-radius:10px;
text-align: center;
background-repeat: no-repeat;
}
.img33{
background-image: url(assets/deal-zabo.png);
grid-area: img33;
width: 753px;
height: 423.13px;
border-radius:10px;
text-align: center;
align-items: center;
}
.img03{
width: 100%;
height: 423.13px;
left: 150px;
top: 3187.88px;
margin-left: 146px;   
display:grid;
grid-template-areas: "img31 img33"
                     " img32 img33";

   gap:10px;                  
}
.join-section{
background-image: url(assets/news-letter-bg.png);
display: flex;
justify-content: center;
align-items: center;
width: 1440px;
height: 533px;
    
}
.Join h1{
    font-size: 50px;
    font-weight: 700;
    color:#FFFFFF;
    text-align: center;

}
.email-form{
    gap:0;
}
.email-form input{
 width: 644px;
height: 50px;
justify-content: center;
align-items: center;
border: none;
padding-left: 13px;

}
.email-form button{
width: 186px;
height: 50px;
background-color: #E95A08;
border: none;
color:#FFFFFF;
}

@media screen and (max-width:576px) {
    .home{
        display:none;
    }
    .color1{
        display:none;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .image{
        width:100%;
    }
    .cards{
        grid-template-columns: repeat(2,1fr);
    }
    .plantslover{
        flex-direction: column-reverse;
        width:100%;
    }
    .img03{
        grid-template-areas: "img31"
                             "img32"
                             "img33";
    }
    .img31{
        width: 100%;
        background-repeat: no-repeat;
    }
    .img32{
        width: 100%;
        background-repeat: no-repeat;
    }
    .img33{
        width: 100%;
        background-repeat: no-repeat;
    
    }
    .join-section{
        background-image: 100%;
    }
    
}



